
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    max-width: 800px;
    margin: 0 auto;
}
html{
    font-size:  16px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color: #f3f2ed;
    padding: 40px 25px;
}
.navigation{
    background-color: #f6f0e0;
    padding: 0 10px 10px 10px ;
}
.navigation h2{
    text-indent: 5px;
}
.navigation ul{
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navigation ul li a {
    color: black;
    text-decoration: none;
    padding: 5px 0;
    display: inline-block;

}
.navigation ul li a:hover{
    color: white;
}
.more{
    background-color: #cdc8b4;
    padding: 0 15px 10px 15px ;
}
.more h2{
    padding-bottom: 20px;
}
.footer{
    background-color: #c0bd94;
    padding: 5px 10px;
}
.kutya{
    width: 30%;
    float: right;

}
.content{
    width: 70%;
    padding: 0 10px 10px 10px;
    text-align: justify;
}
.content p{
    padding-top: 10px;
    padding-bottom: 10px;
}
.cica::after {
    content: "";
    clear: both;
    display: table;
}
h2{
    font-size: 1rem;
}

